<section class="banner" id="home">
  <div class="overlay"></div>		
  <header>
		  <a href="/" class="logo"><img src="images/devotion.png"></a>
		  <div id="toggle" onclick="toggle()"></div>
  </header>