<!-- * OPEN GRAPH PROTOCOL * -->
<meta name="twitter:card" content="summary">
<meta property="theme-color" content="#FF4654">
<meta name="og:description" content="Sunucu ortamımızı koruyan, göz altında tutan yetkili ekibimiz.">
<meta name="og:type" content="website">
<meta name="og:title" content="Devotion Network">
<meta name="og:image" content="https://i.imgur.com/rSGim6n.png">
<meta name="og:image:width" content="200">
<meta name="og:image:height" content="200">
<link rel="icon" href="images/favdev.png">

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>