<%- include("partials/ejs/_loader") -%>

<title>Devotion Network</title>
<link rel="stylesheet" href="./styles/style.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<%- include("partials/ejs/_banner") -%>
<div class="swiper-container" data-aos="fade-right" data-aos-duration="1000">
    <div class="swiper-wrapper">
        <div class="swiper-slide first">
            <h2>Merhaba,<br><span>Hoş Geldin!</span></h2>
            <p>Devotion, Kendini geliştirmek isteyen insanların akıllarına takılan <br> soruları sorabileceği,
                sorunlarını çözebileceği yazılım geliştiricileri için kâr amacı <br> olmayan güvenli ve destekleyici bir
                ortam sağlama amacıyla kurulan bir yazılım topluluğudur.</p>
            <a href="https://discord.com/invite/devotion" target="_blank"><i class="fab fa-discord"
                                                                             style="margin-right: 10px; font-size: 20px;"></i>Sunucumuza
                Katıl!</a>
        </div>

        <div class="swiper-slide first">
            <h2>Devotion,<br><span>Kulağa nasıl geliyor?</span></h2>
            <p>Devotion, Kendini geliştirmek isteyen insanların akıllarına takılan <br> soruları sorabileceği,
                sorunlarını çözebileceği yazılım geliştiricileri için kâr amacı <br> olmayan güvenli ve destekleyici bir
                ortam sağlama amacıyla kurulan bir yazılım topluluğudur.</p>
            <a href="/workwithus"><i class="fas fa-users" style="margin-right: 10px; font-size: 20px;"></i>Ekibe Başvur!</a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
</section>

<section class="services p-t-30" id="about">
    <h1><span>Devotion Network</span> hakkında</h1>
    <div class="container">
        <div class="service" data-aos="fade-left" data-aos-duration="1000">
            <i class="fas fa-users"></i>
            <h2>EKİP</h2>
            <p>Bir çok alanda hizmet vererek titizlikle çalıştık. Hataya yer bırakmadık. Daha öncesinde bir çok firmayla
                işbirliği yaptık, yapmaya da devam ediyoruz. Bu ekibin bir parçası olmak ve en azından yardımlaşmak
                istiyorsanız topluluğumuza katılın.</p>
        </div>

        <div class="service" data-aos="fade-left" data-aos-duration="1000">
            <i class="fas fa-hand-sparkles"></i>
            <h2>SAMİMİYET</h2>
            <p>
                Profesyonel olmamız ortamın soğuk ve cansız olduğu anlamına gelmez. Aramızdaki dinamizmi korumanın yolu
                bizim için budur. Ekibimizin her üyesi diğer üyeleri saygıyla karşılar ve aynı hedefe ilerlemenin
                coşkusunu yaşar. Bizi biz yapan şeylerden biri de budur.
            </p>
        </div>
        <div class="service" data-aos="fade-left" data-aos-duration="1000">
            <i class="fas fa-code"></i>
            <h2>DENEYİM</h2>
            <p>
                Daha öncesinde bir çok atılımda bulunmamız, bu atılımların çoğunun başarılı olması bizi alanımızda
                deneyimli hale getirdi. İşleri ince detaylarına kadar hesaplamak ve geçmişten gelen birikimlerimizi
                kullanmak başarımızın sırrıdır.
            </p>
        </div>
        <div class="service" style="width: 80% !important; margin-top: 50px;" data-aos="fade-right"
             data-aos-duration="1000">
            <i class="fas fa-star"></i>
            <p>
                15 mayıs 2017 tarihinde Minecraft'da Build takımı olarak kurulan Devotion, 2019 tarihinde yazılım ve
                tasarım üzerine hizmet vermeye başlamıştır. 2020 Senesinde ise Devotion LLC çatısı altında 17 eylül 2020
                tarihinde Devotion Records müzik dağıtım şirketi kurulmuştur. Devotion'ın çalıştığı kurum ve kişiler; Mc
                Evi - Buğra Kazancı, Basov Records, Wzia - Adil Abbasov'dur.
            </p>
        </div>
    </div>
</section>

<div class="social">
    <h1><span style="color: var(--blurple); font-weight: 700;">Devotion</span> Social</h1>
    <div class="inner" data-aos="fade" data-aos-duration="1000">
        <a href="https://github.com/DevotionNetwork">
            <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://discord.gg/devotion">
            <ion-icon name="logo-discord"></ion-icon>
        </a>
        <a href="">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="">
            <ion-icon name="logo-instagram" style="margin: 0"></ion-icon>
        </a>
    </div>
</div>

<%- include("partials/ejs/_navbar") -%>
<%- include("partials/ejs/_footer") -%>

<script>
  AOS.init();

  const swiper = new Swiper('.swiper-container', {
    speed: 600,
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    autoplay: {
      delay: 5000,
    },
  });
</script>
